


<br>Здравствуйте, {{courier.userName}}!<br>
 Это Ваш личный кабинет<br>

<span>Ваш номер телефона: {{courier.phone}}</span><br>
<span>Ваша электронная почта: {{courier.email}}</span><br>

Текущий заказ:
{{#if courier.currentOrder}}
<div>
  <li class="entry" id="{{courier.currentOrder._id}}">

    <a><img style="width: 5%" src="/img/{{courier.currentOrder.picSrc}}.png" alt="logoRestoran"></a>

    <ul class="contents">
      {{#each courier.currentOrder.contents}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </li>
  <div>{{courier.currentOrder.price}}</div>
  <form action="/courier/confirm" method="post">
    <button type="submit">Подтвердить получение заказа</button>
  </form>
</div>
{{else}}
  <form action="/courier/newOffer" method="get">
    <button type="submit">Создать предложение</button>
  </form>
{{/if}}
<ul class="contents">Ваши заказы:
  {{#each courier.ordersArchive}}
  <li class="entry" id="{{_id}}">

    <a><img style="width: 5%" src="/img/{{picSrc}}.png" alt="logoRestoran"></a>

    <ul class="contents">
      {{#each contents}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </li>
  <div>{{price}}</div>
  <a href="/offers/{{_id}}"></a>
  {{/each}}
</ul>
